.container {
  background-color: rgb(39, 39, 39);
  height: 90vh;

  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.sub-container {
  width: auto;
  background-color: rgb(39, 39, 39);
  margin: auto;
}


.like-button {
  background: rgb(74, 74, 74);
  margin-right: 20px;
  padding: 1rem;
  font-size: 3rem;
}

.dislike-button {
  background: rgb(74, 74, 74);
  padding: 1rem;
  font-size: 3rem;
}

.liked,
.disliked {
  background: #04461b !important;
}

.likes-counter {
  font-size: 3rem;
  color: #ffffff;
}

.dislikes-counter {
  color: #ffffff;
  font-size: 3rem;
}